<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623918547213-fnjden1tg2johajctgako9a3f4i8kc64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623918547213-fnjden1tg2johajctgako9a3f4i8kc64</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Qs6N8orNBPw1w_uJPfR9E6nO_C8uhys</string>
	<key>GCM_SENDER_ID</key>
	<string>623918547213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hawkeye.Hawkeye-Mobile</string>
	<key>PROJECT_ID</key>
	<string>chatroom-23dc4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatroom-23dc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623918547213:ios:761a0657a8ad7d2c777044</string>
</dict>
</plist>